.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.item {
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 0.875rem;
  font-weight: 700;
}

.item .createdTasks {
  color: var(--blue);
}

.item .completedTasks {
  color: var(--purple);
}

.item .number {
  color: var(--gray-200);
  background: var(--gray-400);
  border-radius: 1rem;
  padding: 2px 8px;
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}